@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Poppins");

$desktop: 840px;
$navColor: #1cb3c8;
$mainColor: teal;
$secondaryColor: #333;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    url("/img/ZOcLM7h.jpg") repeat center/cover;

  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  height: 100vh;
}

.hide-mobile {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.responsive-image {
  width: 100%;
}

.cell img {
  display: block;
}

.material {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

input,
input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}

.title {
  text-align: left;
  padding: 10px;
  z-index: 1;
  font-size: 1.8em;
  line-height: 1.3em;
  text-transform: uppercase;
  position: relative;
  font-family: Poppins, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.title:after {
  content: "";
  position: absolute;
  right: 0;
  width: calc(100% - 280px);
  height: 0.4em;
  margin-top: 0.4em;
  background: $mainColor;
}

.btn {
  background-color: #1cb3c8;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 5px 12px;
  text-decoration: none;
  cursor: pointer;
  color: #dfe2e2;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-info {
  background-color: #738598;
}

.btn-download {
  i {
    font-size: 10px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
  font-size: 13px;
}

.dropdown__hover {
  display: inline-block;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
}

.dropdown__menu {
  position: absolute;
  display: none;
  top: 100%;
  left: -20px;
  min-width: 120px;
  background: #333;
  color: white;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.dropdown:hover .dropdown__menu {
  display: block;
}

.dropdown__menu a {
  padding: 10px;
  text-decoration: none;
  border-top: solid 1px #e0e0e0;
  border: none;
  display: block;
}

.dropdown__menu a:hover {
  background: white;
  color: #323b40;
}

.quick_hover {
  opacity: 1;
}

.quick_hover:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
}

.image {
  opacity: 1;
}

.middle {
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.watch:hover .image {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  opacity: 0.3;
}

.watch:hover .middle {
  opacity: 0.7;
}

.watch:hover .DayNumber {
  opacity: 0;
}

.watch:hover .EpNumber {
  opacity: 0;
}

.DayNumber,
.EpNumber {
  border-radius: 2px;
  font-size: 0.6em;
  padding: 0.5em;
  position: relative;
  font-weight: bold;
}

.DayNumber {
  position: absolute;
  right: 0px;
  top: 0%;
  transform: translateY(-110%);

  opacity: 0.56;
}

.EpNumber {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-110%);
}

.overlay {
  background-image: linear-gradient(to right, red, yellow);
}

.ad_200x200 {
  width: 100%;
  background: #1cb3c8;
  height: 100px;
}

@media only screen and (min-width: 920px) {
  .hide-desktop {
    display: none;
  }

  .show-desktop {
    display: inline;
  }
}

/* index Section*/
/* Body Section*/
body {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 10% auto auto auto 13%;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "ad"
    "footer";
}

/* Nav Section */
.nav-bar {
  grid-area: header;
  background: teal;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7;
  width: 100%;
  height: 58px;
}

/* Aside Section */
aside {
  grid-area: aside;
  width: 100%;
  height: 100%;
  background: $secondaryColor;
  border-radius: 5px;

  .Sing_in_up {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    form {
      opacity: 0.8;
      width: 60%;
      margin: 10px auto;
      text-align: center;
      input {
        border: none;
        width: 100%;
        border-radius: 5px;
        margin: 5px auto;
        color: grey;
        padding: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
      a {
        width: 100%;
        margin: 5px auto;
        color: white;
      }
    }
    form:hover {
      opacity: 1;
      transition: all 0.4s ease-in-out;
    }
  }

  .upcoming {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    h3 {
      text-align: left;
      text-transform: capitalize;
      margin: 10px auto;
      margin-left: 10px;
    }
    img {
      margin-left: 10px;
      width: 40%;
      height: 100%;
    }
    .upcoming-cover {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 10px;
      position: relative;
      h4 {
        width: 35%;
        font-size: 1vw;
        margin: 0 5px;
      }
      span {
        color: #1cb3c8;
        font-size: 0.7em;
        right: 1vw;
        font-family: Poppins, Arial, "Liberation Sans", FreeSans, sans-serif;
        position: absolute;
      }
    }
  }

  .upcoming::before,
  .upcoming::after {
    content: "";
    background: white;
    height: 2px;
    width: 100%;
    display: block;
    margin: 10px auto;
  }

  .Release {
    text-align: center;
    .title {
      font-size: 1em;
      text-align: center;
    }
    .title:after {
      background: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin: 15px;
      font-size: 0.7em;
      li {
        list-style: none;
        &:nth-child(1) {
          font-size: 1.5em;
          font-weight: bold;
          font-family: "Roboto" sans-serif;
        }
        a {
          margin-left: 5px;
          text-decoration: none;
        }
        a:hover {
          margin: 20px;
          color: #1cb3c8;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

/* Ad Section */
.ad {
  grid-area: ad;
  width: 100%;
  height: 100%;
  background: $mainColor;
  background: none;

  img {
    width: 100%;
  }
  .small-boxs {
    background: white;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;

    span {
      background: teal;
      margin: 5px;
      padding: 10px;
      border-radius: 5px;
      font-family: "Roboto" sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      &:nth-child(1) {
        font-size: 20px;
      }
      &:nth-child(2) {
        font-size: 20px;
        font-weight: bolder;
      }
    }
  }
}

/* Main Section */
main {
  grid-area: main;
  width: 100%;

  .Upload {
    background: $secondaryColor;
    margin-top: 20px;
    border-radius: 5px;
    .navigation {
      text-align: right;
      margin: 5px;
      font-size: 1em;
      #next,
      #prev {
        padding: 2px 7px;
        background: #5e5e5e;
        cursor: pointer;
        text-decoration: none;
      }
    }
    .cell {
      width: 100%;
      background: rgb(37, 37, 37);
      margin: 2em auto;
      margin-top: 50px;
      position: relative;

      h3 {
        text-align: center;
        font-size: 1.1em;
        margin: 0 auto;
        margin-top: 15px;
        max-width: 90%;
        font-family: "Roboto", sans-serif;
        text-transform: capitalize;
      }

      .bottom_button {
        padding: 10px;
      }
      .btn {
        font-size: 8px;
        position: absolute;
        bottom: 6px;
        right: 6px;
      }

      figure {
        margin: auto 0;
        position: relative;
        .watch i {
          color: white;
          position: absolute;
          width: 100%;
          text-align: center;
          top: 22%;
          font-size: 3em;
          text-transform: uppercase;
        }
        p {
          color: white;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Footer Section */
footer {
  grid-area: footer;
  background-color: #3c415e;

  .footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    .container {
      font-size: 1.8em;
      width: 100%;
    }

    span {
      font-size: 0.73em;
      width: 100%;
      text-align: center;
    }
  }
}

/* Media Query Section */
@media only screen and (min-width: 600px) {
  /* Body Section */
  body {
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10% auto 13%;
    grid-template-areas:
      "header header header"
      "aside main ad"
      "footer footer footer";
  }

  /* Aside Section */
  aside {
    width: 98%;
    margin: 0 auto;

    .Release {
      border: 1px solid white;
      width: 90%;
      margin: 0 auto;
      text-align: left;
      ul {
        margin: 15px;
        li {
          list-style: none;
          &:nth-child(1) {
            font-size: 20px;
            font-weight: bold;
            font-family: "Roboto" sans-serif;
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  /* Aside Section */
  .ad {
  }

  .cell {
    width: 45% !important;
  }
}

@media only screen and (min-width: 930px) {
  .logo img {
    width: 100px;
    height: 50px;
    margin-left: 2em;
  }
  .cell {
    width: 30% !important;
  }
}
