/* Aside Section */
aside {
  .anime-info {
    h1 {
      text-align: center;
    }
  }

  .navigation {
    display: flex;
    flex-direction: row;
    width: 95%;
    text-align: left;
    margin: 20px auto;
    a {
      font-size: 1.5em;
      cursor: pointer;
    }

    a:hover {
      opacity: 0.6;
      transform: scale(1.1);
      transition: all 0.2s ease-in;
    }

    #prev {
      display: flex;
      flex-direction: column;
    }

    #next {
      display: flex;
      flex-direction: column;
    }

    i {
      margin: 10px 10px;
      padding: 5px;
      background: #333;
      border-radius: 14px;
      font-size: 12px;
    }
  }
}

/* Main Section  */
main {
  .Play {
    background: #333;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;

    iframe {
      margin: 0 auto;
      margin-bottom: 2vw;
      width: 95%;
    }

    .img-cover {
      height: 30vh;
      margin: 2vw 0;
      opacity: 0.4;
      img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
      }
    }

    .low-title {
      position: relative;
      width: 95%;
      margin: 0 auto;
    }

    .addition {
      padding: 20px;
      position: absolute;
      bottom: 5%;
      left: 5%;
      h3 {
        text-align: left;
        font-family: "Roboto" sans-serif;
      }
      span {
        font-size: 15px;
        font-family: "Roboto" sans-serif;
      }
    }
  }
  .Download {
    background: #333;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
  }
}

@media only screen and (min-width: 600px) {
  aside {
    .anime-info {
      border: 1px solid white;
      width: 90%;
      margin: 20px 10px;
      h1 {
        text-align: center;
        padding: 10px;
      }
    }

    .navigation {
      display: block;
      border: 1px solid white;
      width: 90%;
      text-align: left;
      margin: 20px 10px;
      padding: 20px 0 !important;

      a {
        font-size: 1.2vw;
      }

      #next {
        display: inline;
      }

      #prev {
        display: inline;
      }
      i {
        margin: 10px 10px;
        padding: 5px;
        background: #333;
        border-radius: 10px;
        font-size: 10px;
      }
    }
  }

  #ad1 {
    height: 280px;
    background: #333;
  }

  main {
    iframe {
      margin-top: 10px !important;
    }
    .img-cover {
    }
  }

  .ad {
    background: #333;
  }
}
