body {
  grid-gap: 0;
  grid-template-rows: 10% auto auto 13%;
  grid-template-columns: 20% auto;
  grid-template-areas:
    "header header"
    "title title"
    "main main"
    "footer footer";
}

main {
  background: #333;
  width: 100%;
  margin: 0;
  .screen {
    text-align: center;
    margin: 0 4%;
    line-height: 1.5em;
    .titre {
      margin: 10px 0;
      text-align: left;
      h1 {
        padding: 0.5vw 0;
        font-size: 1.5em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      h3 {
        padding: 0.5vw 0;
        font-size: 0.8em;
      }
    }
    iframe {
      width: 100%;
      height: 39vw;
    }
  }
}

.titre {
  grid-area: title;
  padding: 20px;
  width: 98%;
  background: #333;
}

@media only screen and (min-width: 930px) {
  body {
    grid-gap: 20px;
    grid-template-areas:
      "header header"
      "pub title"
      "aside main"
      "footer footer";
  }

  aside {
    grid-area: aside;
    background: rgb(9, 94, 94);
    height: 100%;
    width: 100%;
    margin-left: 10px;

    .anime-info {
      border: 1px solid white;
      width: 90%;
      margin: 10px;
      h1 {
        text-align: center;
        padding: 10px;
      }
    }

    .navigation {
      display: block;
      border: 1px solid white;
      width: 90%;
      text-align: left;
      margin: 20px 10px;
      padding: 12px 0;

      a {
        font-size: 1.2vw;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease-in;
      }

      a:hover {
        color: #333;
      }

      i {
        margin: 10px 10px;
        padding: 5px;
        background: teal;
        border-radius: 14px;
        font-size: 12px;
      }
    }
  }
}
