/*  Mobile first  */

/* ============= Search Section ============== */
#search {
  width: 90%;
  transition: all 400ms linear 100ms;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  top: 400px;
  left: 5%;
  z-index: 0;
}

/*================== Main ====================== */
main {
  width: 100%;
  min-height: 100vh;
}

/*================== Sections ====================== */
#lastAdded,
#trending-list {
  padding: 10px;
}

.section-header .title {
  font-size: 1.2rem;
}

/*================ Trending Section ==================*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.slide {
  height: calc(100vw);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slide::-webkit-scrollbar {
  display: none;
}

.slide .card {
  height: 100%;
  width: 100%;
  margin-right: 0px;
  display: inline-block;
}

.slide .card-title span {
  display: block;
  word-wrap: break;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  width: inherit;
}

.slide .card .card-thumbnail:after {
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.slide .card:hover .card-thumbnail:after {
  background-color: rgba(0, 0, 0, 0.6);
}

#trending-list .icon {
  padding: 0 10px;
}

/* ========== Last episodes list ========== */
#lastAdded {
  min-height: 100vh;
}

#lastAdded .icon {
  font-size: 4rem;
}

#lastAdded .cards {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

/* ========== Last episodes list ========== */
pagination {
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
}

/*  Desktop  */
@media screen and (min-width: 992px) {
  /* ============= Show Box Section ============== */
  #search {
    position: absolute;
    top: 100px;
    left: 40px;
    margin: auto;
    padding: 40px;
    border-radius: 5px 5px 0px 0px;
  }
  /*============== Sections ==============*/
  #lastAdded,
  #trending-list {
    padding: 20px;
  }

  .section-header .title {
    font-size: 2rem;
  }

  /*==============Trending Section ==============*/
  .slide {
    height: 400px;
  }

  .icon {
    padding: 10px;
    font-size: 3rem;
  }

  .slide .card {
    margin-right: 20px;
  }

  /*==============Last Added Section ==============*/
  #lastAdded .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
  }
}

/*  Tablet  */
@media screen and (min-width: 587px) {
  /* ============= Show Box Section ============== */
  #search {
    max-width: 800px;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    padding: 40px;
    border-radius: 5px 5px 0px 0px;
  }

  /*============== Sections ==============*/
  main {
    padding: 0 40px;
    max-width: 1800px;
    margin: 0 auto;
  }

  #lastAdded,
  #trending-list {
    padding: 20px 0;
  }

  /*==============Trending Section ==============*/
  .slide {
    height: 350px;
  }

  .slide .card {
    max-width: 300px;
  }

  /*==============Last Added Section ==============*/
  #lastAdded .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
  }
}
