/* ============= filter Section ============== */  
.filter{
  padding: 40px 0;
  width: fit-content;
  margin: 0 auto; 
}

.filter ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: steelblue;
  padding: 20px 100px;
}

.filter ul li {
  list-style: none;
  padding-left: 10px;
  color: white;
}

.filter ul li a{  
  color: white;  
}
/* ============= Movies Section ============== */  
#movieList {
  min-height: 100vh;
  padding: 40px;
  position: relative;   
}

/* .card::before{
  position: absolute;
  height: 110%;
  width: 110%;
  top: -10%;
  left: 50%;  
  display: block;
  font-size: 1rem;  
  z-index: 100;
  overflow: scroll;
  text-overflow: clip;
  background-color: white;
  transition: all 300ms ease-in-out; 
  opacity: 0;
  padding: 20px;
}

.card:hover::before{ 
  content: attr(data-tooltip);
  opacity: 1;
} */



