.holds-the-iframe {
  aspect-ratio: 16 / 9;
  background-image: url(https://i.pinimg.com/originals/a2/dc/96/a2dc9668f2cf170fe3efeb263128b0e7.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
